APP_ENV=development

CITY=Lahore
LATITUDE=31.5204
LONGITUDE=74.3587
TIMEZONE=Asia/Karachi

HTTP_TIMEOUT_SECONDS=20

MLFLOW_TRACKING_URI=
MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=
MLFLOW_EXPERIMENT_NAME=aqi-forecasting